FORMAT

In [1]:
name='Nilakantha Singh Deo'

In [2]:
name

'Nilakantha Singh Deo'

In [3]:
mobile=9777320992

In [4]:
print('my name is {} and my mobile no is {}'.format(name,mobile))

my name is Nilakantha Singh Deo and my mobile no is 9777320992

FORMAT WIHTOUT ORDER

In [5]:
print('my name is {one} and my mobile no is {two}'.format(two=mobile,one=name))

my name is Nilakantha Singh Deo and my mobile no is 9777320992

CHARACTER / STRINGS

In [11]:
c="ZEBRA"
print(c[0:2])
print(c[:2])

ZE
ZE

NESTED LISTS

In [35]:
l=['a','d',[1,2,3,['%','$','&']]]
print(l[2][1])
print(l[2][3])

2
['%', '$', '&']

DICTIONARY

In [37]:
d1={'k1':[1,3,4],'k2':"Hellow"}
print(d1.values())
print(d1['k1'])
print(d1['k1'][0])

dict_values([[1, 3, 4], 'Hellow'])
[1, 3, 4]
1

TOUPLES (ARE IMMUTABLE WHERE AS THE LIST IS MUTABLE)

In [12]:
t=(1,3,4)

In [11]:
t[0]='New' #immutable

TypeError: 'tuple' object does not support item assignment

SET

In [38]:
s=set([1,3,4,4,5,5,5,1,3,3,2,2])
print('gacha=',s)
s.add(9)
print('s=',s)

gacha= {1, 2, 3, 4, 5}
s= {1, 2, 3, 4, 5, 9}

SHIFT TAB >> DOCUMENTATION Multiline >> 3 double quotes

In [30]:
def multiLine(num):
    """
    HERE IS A MULTILINE DOC STRING inside 3 double quotes   
    """
    return num*2
multiLine(2)

4

In [7]:
i=1
while i<5:
    print('i is:{}'.format(i))
    i=i+1

i is:1
i is:2
i is:3
i is:4

RANGE AND LIST

In [39]:
t=range(0,5)
print(t)
x=list(range(0,5))
print('x: ',x)
y=list(range(15))
print('y: ',y)

range(0, 5)
x:  [0, 1, 2, 3, 4]
y:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

APPEND and SQUARE(** not ^)

In [15]:
x=[1,2,3,4]
out=[]
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [18]:
[num**2  for num in x]

[2, 4, 6, 8]

In [20]:
out=[num**2 for num in x]
print(out)

[1, 4, 9, 16]

MAP(the  function on the list)

In [8]:
def times2(x):
    return x*2
seq = [1,2,3,4,5]
out1=map(times2,seq)

#out1 is an object, but to get it in list format convert it to list

out2=list(map(times2,seq))
print(out1,'\n',out2)

<map object at 0x0000012905A97E48>
 [2, 4, 6, 8, 10]

Lambda(convert the times2 function to a lambda expression)

In [12]:
def times2(var):return var*2
times2(2)
# remove def and return ,make it an annonymous function with lambda keyword

t=lambda var:var*2

t(3)

6

In [13]:
#writing the map function as below
print(list(map(lambda x:x*2,seq)))

[2, 4, 6, 8, 10]

FILTER(filter a condition on a sequece)

In [14]:
#example:find only even numbers in a sequece
print(list(filter(lambda x:x%2==0,seq)))

[2, 4]

SPLIT

In [14]:
email= "tweet from mail abc@gmail.com"
elist=email.split()
print(elist)
#Get split from a character
domain=email.split('@')
print(domain[1])

['tweet', 'from', 'mail', 'abc@gmail.com']
gmail.com

DICTIONARY

In [25]:
d={"k1":1,"k2":"val2"}
d['k1']
#USE KEYWORDS TO GET THE KEYS AND DO EXTRA STUFFS(after . use tabs to get all methods)
d.keys()
d.items()
d.pop("k1")
d.popitem()

1

TOUPLE UNPACKING

In [32]:
t=[(1,2),(3,4),(5,6)]
for a,b in t:
    print(a,b)
(1,2)in t

1 2
3 4
5 6

True