<a href='https://i.ibb.co/TPq9FfH/Nilakantha-Singh-Deo.jpg'> <img src='https://i.ibb.co/TPq9FfH/Nilakantha-Singh-Deo.jpg' /></a>

In [4]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [1]:
import numpy as np
import pandas as pd

SyntaxError: invalid syntax (<ipython-input-2-c46fd84aabd0>, line 3)

In [54]:
from numpy.random import randn

In [55]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [56]:
df>0
df[df>0]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [57]:
df[df['W']<0]

          W         X         Y         Z
B -0.134841  0.390528  0.166905  0.184502
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [58]:
df[df['W']<0][['X','Z']]

          X         Z
B  0.390528  0.184502
D -0.754070  0.484752
E  1.901755  1.996652

In [59]:
df[(df['W']<1) | (df['Z']<0.2)]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [60]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [61]:
newind='OD UP HP WB ND'.split()
print("splited array\n",newind)
#assign a new array
df['States']=newind
#set a new index
df.set_index('States')
print(df)
#permanently inplace
df.set_index('States',inplace=True)
df

splited array
 ['OD', 'UP', 'HP', 'WB', 'ND']
          W         X         Y         Z States
A  0.302665  1.693723 -1.706086 -1.159119     OD
B -0.134841  0.390528  0.166905  0.184502     UP
C  0.807706  0.072960  0.638787  0.329646     HP
D -0.497104 -0.754070 -0.943406  0.484752     WB
E -0.116773  1.901755  0.238127  1.996652     ND

               W         X         Y         Z
States
OD      0.302665  1.693723 -1.706086 -1.159119
UP     -0.134841  0.390528  0.166905  0.184502
HP      0.807706  0.072960  0.638787  0.329646
WB     -0.497104 -0.754070 -0.943406  0.484752
ND     -0.116773  1.901755  0.238127  1.996652