<a href='https://i.ibb.co/TPq9FfH/Nilakantha-Singh-Deo.jpg'> <img src='https://i.ibb.co/TPq9FfH/Nilakantha-Singh-Deo.jpg' /></a>

In [2]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[333,444,555,333],'col3':['abc','def','xyz','pqr']})
df

   col1  col2 col3
0     1   333  abc
1     2   444  def
2     3   555  xyz
3     4   333  pqr

### All unique values in col2

In [5]:
df['col2'].nunique()

3

### Frequencies of values

In [6]:
df['col2'].value_counts()

333    2
555    1
444    1
Name: col2, dtype: int64

### Conditional slection( use braces properly)

In [7]:

df[(df['col1']>2) & (df['col2']>333)]

   col1  col2 col3
2     3   555  xyz

### Apply method

In [8]:
#apply a custom method on to a dataframe
def squares(a):
    return a*a
applySquare=df['col1'].apply(squares)
applySquare

0     1
1     4
2     9
3    16
Name: col1, dtype: int64

### Apply Lambda functions

In [9]:
df['col2'].apply(lambda x:x*2)

0     666
1     888
2    1110
3     666
Name: col2, dtype: int64

In [10]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=4, step=1)

### sort by some column

In [12]:
#sort by some column
df.sort_values('col2')

   col1  col2 col3
0     1   333  abc
3     4   333  pqr
1     2   444  def
2     3   555  xyz

In [13]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

### Pivot table

In [14]:
#Pivot table
data={'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
     'C':['x','y','x','y','x','y'],
     'D':[1,3,2,5,4,1]}
df=pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [15]:
df.pivot_table(values='D',index=['A','B'],columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN