In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [43]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [44]:
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index1=pd.MultiIndex.from_tuples(hier_index)
print(hier_index,"\n",hier_index1)
df=pd.DataFrame(randn(6,2),hier_index1,['A','B'])
df

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
 MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

             A         B
G1 1 -1.832046  0.519093
   2 -0.512860 -0.998774
   3  0.199919  0.810467
G2 1 -0.300458 -0.083625
   2 -0.400202 -1.227752
   3 -1.322586 -0.645645

#### Get the datas using outside index

In [45]:
df.loc['G1']

          A         B
1 -1.832046  0.519093
2 -0.512860 -0.998774
3  0.199919  0.810467

In [46]:
#start from outside and keep travelling inside index
df.loc['G1'].loc[1]

A   -1.832046
B    0.519093
Name: 1, dtype: float64

In [47]:
df.index.names=['Groups','Num']
df

                   A         B
Groups Num
G1     1   -1.832046  0.519093
       2   -0.512860 -0.998774
       3    0.199919  0.810467
G2     1   -0.300458 -0.083625
       2   -0.400202 -1.227752
       3   -1.322586 -0.645645

In [48]:
#Get the value o.4252
df.loc['G2'].loc[2].loc['B']
#Alternatively
df.loc['G2'].loc[2]['B']

-1.2277515858426007

#### Cross section

In [56]:
a=df.xs('G1')
b=df.xs(1,level='Num')
a

            A         B
Num
1   -1.832046  0.519093
2   -0.512860 -0.998774
3    0.199919  0.810467

In [55]:
b

               A         B
Groups
G1     -1.832046  0.519093
G2     -0.300458 -0.083625